.left{
    width: 12px;
    float: left;
    padding-top: 28px;
}
.right{
    width: 20px;
    float: right;
    padding-top: 26px;
}
.header h1{
    color: #fff;
    text-align: center;
}
.header{
    background-color: #edae61;
    padding: 18px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}